---
import Base from "../../layouts/Base.astro";
---

<Base title="blog">
  <div class="items-center justify-center flex">
    <p class="mt-20">This page is still under construction, more to come.</p>
  </div>
</Base>
